{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% translate "Delete Task" %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{% translate "Delete Task" %}</h1>

    <p>{% translate "Are you sure you want to delete" %} "{{ object.name }}"?</p>

    <form method="post">
        {% csrf_token %}
        <div class="text-end">
            <button type="submit" class="btn btn-danger">{% translate "Yes, delete" %}</button>
            <a href="{% url 'tasks_list' %}" class="btn btn-secondary">{% translate "Cancel" %}</a>
        </div>
    </form>
</div>
{% endblock %}
