{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Tasks List" %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{% translate "Tasks List" %}</h1>

    <div class="mb-3">
        <a href="{% url 'tasks_create' %}" class="btn btn-primary">{% translate "Create Tasks" %}</a>
    </div>

    <form method="get" class="p-4 bg-light rounded border shadow-sm mb-4">
        <div class="mb-3">
          <label for="id_status" class="form-label">{% translate "Status" %}</label>
          {{ filter.form.status }}
        </div>
        <div class="mb-3">
          <label for="id_executor" class="form-label">{% translate "Executor" %}</label>
          {{ filter.form.executor }}
        </div>
        <div class="mb-3">
          <label for="id_label" class="form-label">{% translate "Label" %}</label>
          {{ filter.form.labels }}
        </div>
        <div class="form-check mb-3">
          {{ filter.form.is_author }}
          <label for="id_is_author" class="form-check-label">{% translate "Your tasks" %}</label>
        </div>
        <button type="submit" class="btn btn-primary">{% translate "Show" %}</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Status" %}</th>
                <th>{% translate "Author" %}</th>
                <th>{% translate "Executor" %}</th>
                <th>{% translate "Creation date" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a href="{% url 'task_view' pk=task.id %}">{{ task.name }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.author }}</td>
                {% if task.executor is None %}
                    <td></td>
                {% else %}
                    <td>{{ task.executor }}</td>
                {% endif %}
                <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'tasks_update' task.pk %}" class="btn btn-sm btn-warning">{% translate "Edit" %}</a>
                    <a href="{% url 'tasks_delete' task.pk %}" class="btn btn-sm btn-danger">{% translate "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
